<div class="row">		
	<div class="col-md-5 col-sm-5 col-xs-12">
		<span class="label-text">Display *</span>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="row no-margin">
			<label for="display-all" class="checkbox">
				<input type="radio" name="All" value="all" id="display-all-db" />
				<span class="label-dark">All</span>
			</label>
		</div>

		<div class="row no-margin">
			<label for="display-current" class="checkbox">
				<input type="radio" name="current" value="current" id="display-cpu" />
				<span class="label-dark">Current</span>
			</label>
		</div>

		<div class="row no-margin">
			<label for="display-scheduled" class="checkbox">
				<input type="radio" name="scheduled" value="scheduled" id="display-memory" />
				<span class="label-dark">Scheduled</span>
			</label>
		</div>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-1">
		<span class="icon-info tipster tooltipstered"></span>
	</div>
</div>