<div class="container-fluid">
    <!--content start-->

    <!-- footer menu start-->
    <ul class="footer-menu">
		<li>
			<a href="http://www.oracle.com/us/corporate/index.html" title="About Oracle" target="_blank">
				About Oracle
			</a>
		</li>
		<li>
			<a href="http://www.oracle.com/us/corporate/contact/index.html" title="Contact Us" target="_blank">
				Contact Us
			</a>
		</li>
		<li>
			<a href="http://www.oracle.com/us/legal/privacy/overview/index.html" title="Legal Notices" target="_blank">
				Legal Notices
			</a>
		</li>
		<li>
			<a href="http://www.oracle.com/us/legal/terms/index.html" title="Terms Of Use" target="_blank">
				Terms Of Use
			</a>
		</li>
		<li>
			<a href="http://www.oracle.com/us/legal/privacy/overview/index.html" title="Your Privacy Rights" target="_blank">
				Your Privacy Rights
			</a>
		</li>
    </ul>
    <!--footer menu end-->

    <!--legal note start-->
    <div class="legal">
        Copyright &copy; 2016, 2017</span> Oracle and/or its affiliates. All rights reserved.
    </div>
    <!--legal note end-->

    <!--content end-->
</div>

<!-- /#footer -->


<!-- Modal Preloader -->
<div class="modal fade" id="modalPreloader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog">
        <div class="modal-content text-center modal-bg-hide">
            <button class="btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin icon-40"></i></button>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /Modal Preloader -->

<!--ko-validation template start-->
<script type="text/html" id="acsValidationTemplate">
    <div class="alert alert-danger" data-bind="visible: field.isModified() && !field.isValid()">
        <div class="alert-icon" data-bind="visible: field.isModified() && !field.isValid()"></div>
        <p data-bind="text: field.error"></p>
    </div>
</script>
<!--ko-validation error template end-->