<!--<div>-->
    <!--<p>a name: <input data-bind="value: a" /></p>-->
    <!--<p>b name: <input data-bind="value: b" /></p>-->
    <!--<p>Hello ! : <input data-bind="value: c" /></p>-->
<!--</div>-->
<div class="panel panel-default">
    <div class="panel-body">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>合约名称</th>
                <th>合约价格</th>
                <th>指数价格</th>
                <th>期限差额</th>
                <th>升水比例</th>
            </tr>
            </thead>
            <!--<colgroup>-->
                <!--<col data="name" title="Name">-->
                <!--<col data="position" title="Position">-->
                <!--<col data="office" title="Office">-->
                <!--<col data="extn" title="Extn." template="<a href='www.baidu.com'>ss</a>">-->
                <!--<col data="start_date" title="Start Date">-->
                <!--<col data="salary" title="salary">-->
            <!--</colgroup>-->
        </table>
    </div>
</div>
