<div class="panel panel-default">
    <div class="panel-body">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>BuyPriminum</th>
                <th>SellPriminum</th>
                <th>BuyOne</th>
                <th>BuyOnePrice</th>
                <th>SellOne</th>
                <th>SellOnePrice</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            </thead>
            <colgroup>
                <col data="id" title="id">
                <col data="price" title="Position">
                <col data="buyPriminum" title="Position">
                <col data="sellPriminum" title="Position">
                <col data="buyOne" title="Position">
                <col data="buyOnePrice" title="Office">
                <col data="sellOne" title="Office">
                <col data="sellOnePrice" title="Extn.">
                <col data="date" title="Start Date">
                <col data="time" title="salary">
            </colgroup>
        </table>
    </div>
</div>
