<div class="panel panel-default">
    <div class="panel-body">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>合约</th>
                <th>阀值</th>
                <th>当周</th>
                <th>下周</th>
                <th>季度</th>
                <th>状态</th>
                <th>组合</th>
            </tr>
            </thead>
            <!--<colgroup>-->
                <!--<col data="name" title="Name">-->
                <!--<col data="position" title="Position">-->
                <!--<col data="office" title="Office">-->
                <!--<col data="extn" title="Extn." template="<a href='www.baidu.com'>ss</a>">-->
                <!--<col data="start_date" title="Start Date">-->
                <!--<col data="salary" title="salary">-->
            <!--</colgroup>-->
        </table>
    </div>
</div>
